/.jpg
/1.jpg
/1.jpg.jpg
/123.jpg
/2.jpg
/3.jpg
/4.jpg
/444.jpg
/445.jpg
/5.jpg
/6.jpg
/colorfilters-master
/draw.py
/home_work_Income.py
/roi.py
/temp.py
/test.jpg
/test.png
/test.py
/TT.py
/__pycache__